#Hi {
    bottom: 0;
    text-align: center;
    margin-top: 400px;
}

canvas {
 
    align-content: center;
    background-color: mediumturquoise;

}
#di{
    text-align: center;
    margin-left: 210px;
}